.row:after {
display: table;
border: 0px;
clear: both;
}

.coluna {
float: left;
width: 50%;
height: 600px;
padding: 0px;
}

.row img{
    vertical-align: center;
    width: 100%;
    height: 100%;
}

.direita {
    background-color: rgb(220, 235, 240);
}

.direita h2 {
    padding-left: 20px;
    padding-top: 20px;
    font-size: 40px;
}

.direita p {
    padding-left: 20px;
    padding-top: 3px;
    font-size: 20px;
}

.direita button {
    padding-top: 1px;
    font-size: 15px;
}





