.row:after {
display: table;
border: 0px;
clear: both;
}

.coluna {
float: left;
width: 50%;
height: 600px;
padding: 0px;
}

.row img{
    vertical-align: center;
    width: 100%;
    height: 100%;
}



.direita h2 {
	margin-top: 8%;
    padding-top: 20px;
    font-size: 40px;
	text-align: center;
}

.direita p {
    margin: 5%;
    padding-top: 3px;
    font-size: 20px;
	text-align: justify;
}

.btn1 {
  background-color: #003CBA;
  border: 3px solid #555555;
  color: white;
  padding: 14px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
  margin-left: 41%;
  margin-top: 15%;
}
.btn1:hover {
  background-color: #006CBA;
  color: white;
}
